absl-py==1.4.0
accelerate @ git+https://github.com/huggingface/accelerate@330d60b817c7acb9f66e9fdcafec7efb391c0366
addict==2.4.0
aiofiles==24.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.2
aiohttp-cors==0.7.0
aiosignal==1.3.1
annotated-types==0.5.0
anyio==3.7.1
appdirs==1.4.4
arabert @ git+https://github.com/aub-mind/arabert@6fcebaebc97844d4b498900daa6314257f22c042
asgiref==3.7.2
asttokens==2.4.1
astunparse==1.6.3
async-timeout==4.0.2
attrs==23.1.0
audioread==3.0.0
azure-cognitiveservices-speech==1.28.0
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
beautifulsoup4==4.12.2
boto3==1.26.137
botocore==1.29.137
brotlipy==0.7.0
cachetools==4.2.4
cchardet==2.1.7
certifi @ file:///croot/certifi_1690232220950/work/certifi
cffi @ file:///croot/cffi_1670423208954/work
chardet==5.1.0
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.3
cmake==3.26.3
comm==0.2.2
contourpy==1.0.7
cryptography @ file:///croot/cryptography_1677533068310/work
cycler==0.11.0
Cython==3.0.0
debugpy==1.8.2
decorator==5.1.1
demoji==1.1.0
Django==4.2.5
djangorestframework==3.14.0
dnspython==2.3.0
emoji==1.4.2
exceptiongroup==1.2.2
executing==2.0.1
-e git+https://github.com/exo-explore/exo.git@27e5ee6b228836a6f12de648bf079c123f6c53aa#egg=exo
farasapy==0.0.14
fastapi==0.100.0
ffmpeg==1.4
ffmpeg-python==0.2.0
filelock==3.12.0
flatbuffers==24.3.25
fonttools==4.39.4
frozenlist==1.3.3
fsspec==2023.5.0
future==0.18.3
gast==0.4.0
gdown==4.7.1
gmpy2 @ file:///tmp/build/80754af9/gmpy2_1645455533097/work
google-api-core==1.34.0
google-auth==2.20.0
google-auth-oauthlib==1.0.0
google-cloud-core==1.7.3
google-cloud-speech==2.19.0
google-cloud-texttospeech==2.14.1
google-cloud-translate==2.0.1
google-pasta==0.2.0
googleapis-common-protos==1.59.0
grpcio==1.64.1
grpcio-status==1.48.2
grpcio-tools==1.64.1
h11==0.14.0
h5py==3.12.1
httptools==0.6.0
huggingface-hub==0.25.1
idna @ file:///croot/idna_1666125576474/work
imageio==2.31.1
importlib-metadata==6.7.0
ipykernel==6.29.5
ipython==8.26.0
jax==0.4.30
jaxlib==0.4.30
jedi==0.19.1
Jinja2 @ file:///croot/jinja2_1666908132255/work
jiwer==3.0.1
jmespath==1.0.1
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.2
jupyter_core==5.7.2
keras==2.12.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
lapx==0.5.4
lazy_loader==0.2
Levenshtein==0.21.1
libclang==16.0.0
librosa==0.10.0.post2
lit==16.0.5
llvmlite==0.40.1rc1
lmdb==1.4.1
lpips==0.1.4
lxml==4.9.3
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.2
matplotlib==3.9.3
matplotlib-inline==0.1.7
mdurl==0.1.2
mkl-fft==1.3.6
mkl-random @ file:///work/mkl/mkl_random_1682950433854/work
mkl-service==2.4.0
ml-dtypes==0.4.1
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
namex==0.0.8
nest-asyncio==1.6.0
netifaces==0.11.0
networkx==3.1
nltk==3.8.1
numba==0.57.0
numpy==1.23.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-ml-py==12.560.30
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.2
openai==0.27.7
opencv-python==4.10.0.84
opt-einsum==3.3.0
optree==0.13.1
packaging==23.1
pandas==1.5.3
parso==0.8.4
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
pillow==10.4.0
platformdirs==4.2.2
pooch==1.6.0
prometheus_client==0.20.0
prompt_toolkit==3.0.47
proto-plus==1.22.2
protobuf==4.25.5
psutil==6.0.0
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval==0.2.2
PyArabic==0.6.14
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAudio==0.2.13
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycryptodome==3.18.0
pydantic==2.0.2
pydantic_core==2.1.2
pydub==0.25.1
Pygments==2.18.0
pymongo==4.3.3
pyOpenSSL @ file:///croot/pyopenssl_1677607685877/work
pyparsing==3.0.9
PyPDF2==3.0.1
PySocks @ file:///home/builder/ci_310/pysocks_1640793678128/work
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
python-Levenshtein==0.21.1
pytz==2023.3
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==26.0.3
rapidfuzz==2.13.7
referencing==0.35.1
regex==2023.5.5
requests==2.30.0
requests-oauthlib==1.3.1
rich==13.7.1
rpds-py==0.19.1
rsa==4.9
s3transfer==0.6.1
safetensors==0.4.3
scikit-image==0.21.0
scikit-learn==1.6.0
scipy==1.10.1
seaborn==0.12.2
sentencepiece==0.1.96
six @ file:///tmp/build/80754af9/six_1644875935023/work
sniffio==1.3.0
sounddevice==0.4.6
soundfile==0.12.1
soupsieve==2.4.1
soxr==0.3.5
sqlparse==0.4.4
stack-data==0.6.3
starlette==0.27.0
striprtf==0.0.26
sympy==1.12
tb-nightly==2.14.0a20230621
tenacity==9.0.0
tensorboard==2.12.3
tensorboard-data-server==0.7.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.12.0
tensorflow-addons==0.20.0
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.32.0
termcolor==2.3.0
threadpoolctl==3.1.0
tifffile==2023.4.12
tinygrad @ git+https://github.com/tinygrad/tinygrad.git@232edcfd4f8b388807c64fb1817a7668ce27cbad
tokenizers==0.19.1
tomli==2.0.1
torch==2.0.1
torchaudio==2.0.2
torchdata @ file:///__w/_temp/conda_build_env/conda-bld/torchdata_1682362130135/work
torchtext==0.15.2
torchvision==0.15.2
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
transformers==4.43.3
triton==2.0.0
typeguard==2.13.3
typing_extensions==4.12.2
ultralytics==8.0.131
urllib3 @ file:///croot/urllib3_1680254681959/work
uuid==1.30
uvicorn==0.22.0
uvloop==0.17.0
watchfiles==0.19.0
wcwidth==0.2.13
websockets==11.0.3
Werkzeug==2.3.4
wrapt==1.14.1
xgboost==2.0.3
yapf==0.40.1
yarl==1.9.2
zipp==3.15.0
